<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="Home.html"><img src="./images/logo.gif" height="40px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
              
          
          </div>
        
        
          <div>
              <a link href="Index.html">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    Log Out
                   </button>
                
                  
              </a>

          </div>
           

        
        </div>
      </nav>
      
     
<table id="myTable">
    <div class="a">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    
     <button class="success">Add</button>
     </div>
    <tr class="header">
        
        <th style="width:30%;">Machine Name</th>
        <th style="width:30%;">Machine Description</th>
        <th style="width:30%;">Machine Location</th>
        <th style="width:30%;">Edit</th>
        <th style="width:30%;">Delete</th>
        
    </tr>

    <tr>
        <td>
            Machine 1
        </td>
        <td>
            Steel Maker
        </td> 
        <td>
            Superlite Factory
        </td> 
        <td>
            <button class="btn success">Edit</button>
        </td> 
        <td>
            <button class="btn danger">Delete</button>
        </td> 

    </tr>
    <tr class="kill">
        <td>
            Machine 2
        </td> 
        <td>
            Molten and Soft Steel Maker
        </td>
        <td>
            Superlite Factory
        </td> 
        <td>
            <button class="btn success">Edit</button>
        </td> 
        <td>
            <button class="btn danger">Delete</button>
        </td> 
    </tr>
    <tr>
        <td>
            Machine 3
        </td> 
        <td>
            Furnace
        </td>
        <td>
            Superlite Factory
        </td> 
        <td>
            <button class="btn success">Edit</button>
        </td> 
        <td>
            <button class="btn danger">Delete</button>
        </td> 
    </tr>
    <tr class="lol">

        <td>
            Machine 4
        </td> 
        <td>
            Wood Cutter
        </td>
        <td>
            Superlite Factory
        </td> 
        <td>
            <button class="btn success">Edit</button>
        </td> 
        <td>
            <button class="btn danger">Delete</button>
        </td> 
    </tr>
    </div>
</table>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>
</div>
</body>
</html>