.container {
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s;
  }
  .filterDiv:hover {
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top:20px;
  }  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: gray;
    
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: black;
    color: white;
  }
#myBtnContainer{
    margin-top: 40px;
    margin-left: 450px;
    border: black;
    border-radius: 2px;
    align-items: center;
    width: 380px;

}
#M1{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 500px; /* Full width */
  height: 500px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: gray; /* Black w/ opacity */
  padding-top: 60px;
  text-align: center;
  margin-top: 100px;
  margin-left: 400px;
  color:white;
  box-shadow: 10px 10px 5px black;
  
  
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.M1-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 100px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100px;
  }
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#container {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#container th, #container td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#container tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#container tr.header, #container tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}